.navbar { position:relative; min-height:50px; margin-bottom:20px; border:1px solid transparent;}
.navbar-fixed-top { position:fixed; right:0; left:0; z-index:1030;}
.navbar-fixed-top { top:0; border-width:0 0 1px;}

.nav .open > a { background-color:transparent; }
.nav .open > a:hover { background-color:transparent; }
.nav .open > a:focus { background-color:transparent; }

#wrapper { -moz-transition:all 0.5s ease; -o-transition:all 0.5s ease; -webkit-transition:all 0.5s ease; padding-left:0; -webkit-transition:all 0.5s ease; transition:all 0.5s ease; overflow-y:scroll}
#wrapper.toggled { padding-left:220px; }
#wrapper.toggled #sidebar-wrapper { width:220px; }
#wrapper.toggled #page-content-wrapper { margin-right:-220px; position:absolute;}
#sidebar-wrapper { -moz-transition:all 0.5s ease; -o-transition:all 0.5s ease; -webkit-transition:all 0.5s ease; background:#292929; height:100%; left:220px; margin-left:-220px; overflow-x:hidden; overflow-y:scroll; -webkit-transition:all 0.5s ease; transition:all 0.5s ease; width:0; z-index:1000;}
#sidebar-wrapper::-webkit-scrollbar { display:none;}
#page-content-wrapper { padding-top:70px; width:100%;}

.sidebar-nav { list-style:none; margin:0; padding:0; position:absolute; top:0; width:220px;}
.sidebar-nav li { display:inline-block; line-height:20px; position:relative; width:100%;}
.sidebar-nav li:before { -moz-transition:width 0.2s ease-in; -ms-transition:width 0.2s ease-in; -webkit-transition:width 0.2s ease-in; background-color:#292929; content:''; height:100%; left:0; position:absolute; top:0; -webkit-transition:width 0.2s ease-in; transition:width 0.2s ease-in; width:3px; z-index:-1;}
.sidebar-nav li:first-child a { background-color:#292929; color:#ffffff;}
.sidebar-nav li:hover:before { -webkit-transition:width 0.2s ease-in; transition:width 0.2s ease-in; width:100%;}
.sidebar-nav li a { font-size:16px; color:#dddddd; font-weight: bold; display:block; padding:5px 15px 0px 10px; }
.sidebar-nav li.open:hover before { -webkit-transition:width 0.2s ease-in; transition:width 0.2s ease-in; width:100%;}
.sidebar-nav .dropdown-toggle { font-size:13px; font-weight:normal; padding-left:15px; position:relative; width:100%; color:orange; }
.sidebar-nav .dropdown-menu { background-color:#292929; border-radius:0; border:none; box-shadow:none; margin:0; padding-left:10px; position:relative; width:100%;}
.sidebar-nav .dropdown-menu a{ font-size:12px; }
.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus { background-color:transparent; color:#fff; }
.sidebar-nav > .sidebar-brand a{ font-size:20px; height:30px; line-height:25px; margin-top:10px; }

.hamburger { background:transparent; border:none; display:block; height:25px; margin-left:15px; width:32px; z-index:10; }
.hamburger:hover { outline:none; }
.hamburger:focus { outline:none; }
.hamburger:active { outline:none; }
.hamburger.is-closed:before { -webkit-transform:translate3d(0, 0, 0); -webkit-transition:all 0.35s ease-in-out; color:#ffffff; content:''; display:block; font-size:14px; line-height:30px; opacity:0; text-align:center; width:100px;}
.hamburger.is-closed:hover before { -webkit-transform:translate3d(-100px, 0, 0); -webkit-transition:all 0.35s ease-in-out; display:block; opacity:1;}
.hamburger.is-closed:hover .hamb-top { -webkit-transition:all 0.35s ease-in-out; top:0;}
.hamburger.is-closed:hover .hamb-bottom { -webkit-transition:all 0.35s ease-in-out; bottom:0;}
.hamburger.is-closed .hamb-top { -webkit-transition:all 0.35s ease-in-out; background-color:rgba(255, 255, 255, 0.7); top:0px; opacity:.7;}
.hamburger.is-closed .hamb-middle { background-color:rgba(255, 255, 255, 0.7); margin-top:-2px; top:50%; opacity:.7;}
.hamburger.is-closed .hamb-bottom { -webkit-transition:all 0.35s ease-in-out; background-color:rgba(255, 255, 255, 0.7); bottom:0px; opacity:.7;}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom { height:4px; left:0; position:absolute; width:100%;}
.hamburger.is-open .hamb-top { -webkit-transform:rotate(45deg); -webkit-transition:-webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); background-color:#ffffff; margin-top:-2px; top:50%;}
.hamburger.is-open .hamb-middle { background-color:#ffffff; display:none;}
.hamburger.is-open .hamb-bottom { -webkit-transform:rotate(-45deg); -webkit-transition:-webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); background-color:#ffffff; margin-top:-2px; top:50%;}
.hamburger.is-open:before { -webkit-transform:translate3d(0, 0, 0); -webkit-transition:all 0.35s ease-in-out; color:#ffffff; content:''; display:block; font-size:14px; line-height:32px; opacity:0; text-align:center; width:100px;}
.hamburger.is-open:hover before { -webkit-transform:translate3d(-100px, 0, 0); -webkit-transition:all 0.35s ease-in-out; display:block; opacity:1;}

.overlay { position:fixed; display:none; width:100%; height:100%; top:0; left:0; right:0; bottom:0; background-color:rgba(0, 0, 0, 0.4); z-index:1;}

.mhMemberL { margin:0 0 10px 10px; }
.mhMemberL .mhMemberLinfo { height:37px; padding:6px 10px 5px 5px; }
.mhMemberL .mhMemberLinfo img { height:26px; margin:2px 0; float:left; background:#fff; border:3px solid #fff; border-radius:20px; }
.mhMemberL .mhMemberLinfo span { line-height:36px; color:#fff; padding:0 0 0 10px; font-size:1.2em; }

.mhMemberL .mhMemberLelse { list-style:none; padding:0; margin:0; overflow:hidden; }
.mhMemberL .mhMemberLelse li { width:95px; box-sizing:border-box; padding:0 0 0 2px; }
.mhMemberL .mhMemberLelse li a { display:block; text-align:center; padding:2px 0; color:#ddd; border:1px solid #aaa; border-radius:3px; font-size:9px; }

@media all and (max-width:479px) {
.hamburger { position:fixed; top:20px; }
}

@media all and (min-width:480px) and (max-width:1024px) {
.hamburger { position:fixed; top:20px; }
}

@media all and (min-width:1025px) {
.hamburger { display:none; }
}